{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "miniFramework.createElement",
        "throwIfNamespace": false
      }
    ],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
