{
    "plugins": [
      [
        "@babel/plugin-transform-react-jsx",
        {
          "pragma": "miniFramework.createElement", // Cambia el pragma para usar tu framework
          "throwIfNamespace": false // Permite usar nombres no estándar en el espacio de nombres
        }
      ]
    ]
  }
  